.iconContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-height:400px;
    max-height: 800px;
    overflow-y: auto;
    .el-icon-item{
        width: 160px;
        height: 100px;
        display: inline-block;
        text-align: center;
        margin: 10px;
        border: 1px solid #c7d0da;
        .el-item-center{
            display: block;
            margin: 0 auto;
            height: 30px;
            width: 30px;
            padding: 10px 0;
            font-size: 30px;
            line-height: 30px;
        }
        .el-item-des{
            font-size: 16px;
            width: 100%;
            margin: 0 auto;
            display: block;
            height: 40px;
            word-wrap: break-word;
            word-break: normal;
        }
    }
}
/*.adminAuditControl{
    padding: 90px;
}*/
.el-icon-item{
    width: 150px;
    height: 80px;
    display: inline-block;
    text-align: center;
    .el-item-center{
        display: block;
        margin: 0 auto;
        height: 30px;
        width: 30px;
        padding: 10px 0;
        font-size: 30px;
        line-height: 30px;
    }
    .el-item-des{
        font-size: 16px;
        width: 100%;
        margin: 0 auto;
        display: block;
        height: 40px;
        word-wrap: break-word;
        word-break: normal;
    }
}
.el-icon-list{
    height: 320px;
    overflow-y: auto;
}
.icon-template{
    border:1px solid #bfc7d3;
    width: 300px;
    height: 300px;
    text-align: center;
    line-height: 300px;
    font-size: 90px;
}
